.main {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.backButtonContainer {
    margin-top: 18px;
    margin-left: 60px;
    font-size: 14px;
    font-weight: 600;
    color: gray;
    display: flex;
    gap: 16px;
    cursor: pointer;
}

.positionTitle {
    font-size: 24px;
    font-weight: 600;
    color: gray;
    margin-left: 64px;
}

/* space between */
.positionContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 16px;
    padding-left: 64px;
    padding-right: 64px;
}

.totalCandidates {
    font-size: 14px;
    font-weight: 600;
    color: gray;
}

.candidatesListContainer {
    border: 2px solid black;
    width: fit-content;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 540px;
}

.candidatesList {
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.candiatesListTitle {
    font-size: 18px;
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-bottom: 2px solid black;
}

.candidateCard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    gap: 16px;
}

.candidateImage,
.selectButton {
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.candidateName {
    white-space: nowrap;
}

.candidateNameAndImage {
    display: flex;
    align-items: center;
    gap: 16px;
}

.candidateHeatMapContainer {
    display: flex;
    gap: 32px;
    width: 100vw;
}

.filterButton {
    padding: 8px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.skillLabels {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
}

.dropdown {
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    position: absolute;
    z-index: 100;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dropdownItem {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.heatMapContainer {
    display: flex;
    gap: 6px;
    padding-top: 60px;
    position: relative;
    width: 100%;
    overflow-x: auto;
    margin-right: 20px;
}

.heatMapColumn {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.filterAndHeatMapContainer {
    display: flex;
    width: 100%;
    gap: 32px;
}

.heatMapColumn {
    width: 24px;
}

.heatMapSkill {
    width: 24px;
    height: 24px;
}

.noCandidates {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    background-color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border: 2px solid black;
}
